@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.pokediv {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
}

h1 {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 4px 4px 8px black;
  letter-spacing: 0.2rem;
  margin: auto;
}

.sprite {
  padding: 1rem;
  border-radius: 15px;
  background-color: #ffffff;
  max-width: 50vw;
  max-height: 50vh;
  margin: 0 auto;
}

/* 

Normal Type: A8A77A
Fire Type: EE8130
Water Type: 6390F0
Electric Type: F7D02C
Grass Type: 7AC74C
Ice Type: 96D9D6
Fighting Type: C22E28
Poison Type: A33EA1
Ground Type: E2BF65
Flying Type: A98FF3
Psychic Type: F95587
Bug Type: A6B91A
Rock Type: B6A136
Ghost Type: 735797
Dragon Type: 6F35FC
Dark Type: 705746
Steel Type: B7B7CE
Fairy Type: D685AD

*/

.type {
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.2rem;
}

.type-normal {
  background-color: #A8A77A;
}

.type-fire {
  background-color: #EE8130;
}

.type-water {
  background-color: #6390F0;
}

.type-electric {
  background-color: #F7D02C;
}

.type-grass {
  background-color: #7AC74C;
}

.type-ice {
  background-color: #96D9D6;
}

.type-fighting {
  background-color: #C22E28;
}

.type-poison {
  background-color: #A33EA1;
}

.type-ground {
  background-color: #E2BF65;
}

.type-flying {
  background-color: #A98FF3;
}

.type-psychic {
  background-color: #F95587;
}

.type-bug {
  background-color: #A6B91A;
}

.type-rock {
  background-color: #B6A136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6F35FC;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #B7B7CE;
}

.type-fairy {
  background-color: #D685AD;
}

@media (max-width: 480px) {
  .pokedex {
    display: block;
    width: 90vw;
    height: 90vh;
    padding: 1rem;
    margin:0;
  }

  .info {
    height: 80vh;
  }

  h1 {
    font-size: 3rem;
  }

  .pokediv {
    height: 50%;
    max-width: 80vw;
    margin-bottom: 5px;
  }

  .sprite {
    max-width: 75vw;
    max-height: 75vh;
  }
}

