.ui {
  height: 35vh;
}

button {
  all: unset;
  background-color: rgb(22, 22, 26);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(125, 125, 125);
}

.user-input-display {
  height: 1rem;
  width: 33vw;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

.num-pad {
  margin-top: 5px;
  max-width: 60vw;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.num-pad button {
  flex: 1 1 calc(33.333% - 10px);
  padding: .5vw;
  box-sizing: border-box;
}

.del-btn:hover {
  background-color: rgb(255, 83, 83);
  color: black;
}

.submit-btn:hover {
  background-color: rgb(101, 255, 101);
  color: black;
}

.random-btn:hover {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  animation: rainbow 3s ease infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.mode-toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.active-mode {
  background-color: rgb(255, 255, 255);
  color: black;
}

.ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.type {
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.2rem;
  grid-column: span 1;
}

.type-normal {
  background-color: #A8A77A;
}

.type-fire {
  background-color: #EE8130;
}

.type-water {
  background-color: #6390F0;
}

.type-electric {
  background-color: #F7D02C;
}

.type-grass {
  background-color: #7AC74C;
}

.type-ice {
  background-color: #96D9D6;
}

.type-fighting {
  background-color: #C22E28;
}

.type-poison {
  background-color: #A33EA1;
}

.type-ground {
  background-color: #E2BF65;
}

.type-flying {
  background-color: #A98FF3;
}

.type-psychic {
  background-color: #F95587;
}

.type-bug {
  background-color: #A6B91A;
}

.type-rock {
  background-color: #B6A136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6F35FC;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #B7B7CE;
}

.type-fairy {
  background-color: #D685AD;
}

select {
  padding: 0.5rem;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 5px;
}

@media (max-width: 480px) {

  .ui {
    display: block;
    margin-top: 30vh;
  }

  .user-input-display {
    padding: .75rem;
    width: 95%;
  }

  .num-pad {
    justify-content: space-between;
  }

  .num-pad button {
    flex: 1 1 calc(33.333% - 10px);
  }

  .mode-toggle-buttons {
    width: 90vw;
    height: 6rem;
    display: flex;
    justify-content: center;
  }

  .mode-toggle-buttons button {
    flex-grow: 1;
  }

  select{
    width: 90vw;
  }
}